<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="addhalls" class="nav-link" routerLinkActive="active">
          Add Halls
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="addsessions" class="nav-link" routerLinkActive="active">
          Add Sessions
        </a>
      </li> 
      <li class="nav-item">
        <a routerLink="allsessions" class="nav-link" routerLinkActive="active">
          All Sessions
        </a>
      </li> 
    </ul>
  </div>
</nav>