<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input type="text" class="form-control" name="cinema_name"  #cinema_name/>
      </div>
      <div *ngIf="angForm.controls['cinema_name'].invalid && (angForm.controls['cinema_name'].dirty || angForm.controls['cinema_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['cinema_name'].errors.required">
         Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Address</label>
        <input type="text" class="form-control" name="cinema_address"  #cinema_address/>
      </div>
      <div *ngIf="angForm.controls['cinema_address'].invalid && (angForm.controls['cinema_address'].dirty || angForm.controls['cinema_address'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['cinema_address'].errors.required">
         Address is required.
        </div>
      </div>


      <!-- <h4>Halls</h4>
      <div class="form-check" *ngFor="let hall of halls">
          <input class="form-check-input" (change)="onChange(hall, $event.target.checked)"name="{{ hall.name }}" type="checkbox" id="{{hall.name}}">
          <label class="form-check-label" for="{{hall.name}}">
              {{hall.name}}
          </label>
      </div> -->


      <div class="form-group">
        <button (click)="addCinema(cinema_name.value,cinema_address.value)"  class="btn btn-primary">Create Cinema</button>
      </div>
    </form>
  </div>
</div>
    