<app-menu></app-menu>
<div class="card" style="width:40%; margin-left: 30%">
    <h5 class="card-header" style="text-align:center">Введите данные Вашей карты</h5>
    <div class="card-body" style="text-align:center">
        <div>
            <label class="lbl">Имя на карте</label>
            <input type="text">
          </div>
          <div>
            <label class="lbl">16-значный номер на карте</label>
            <input type="text">
          </div>
          <div>
            <label class="lbl">CVV2/CVC2</label>
            <input type="text">
          </div>  
          <a href="#" class="btn btn-primary" >Оплатить</a>        
    </div>
  </div>


